<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Helper\Category">
        <plugin name="replaceUrl" type="\Team1\ModuleMenu\Helper\Catalog\Category\Plugin" sortOrder="1"/>
    </type>
    <type name="\Magento\Catalog\Observer\MenuCategoryData">
        <plugin name="markActiveOnRedirectUrl" type="\Team1\ModuleMenu\Observer\Catalog\MenuCategoryData\Plugin" sortOrder="1"/>
    </type>
    <type name="\Magento\Catalog\Model\Category">
        <plugin name="subcategoryRedirect" type="\Team1\ModuleMenu\Model\Catalog\CategoryPlugin" sortOrder="1"/>
    </type>
</config>
